/* ---global style--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html{
	scroll-behavior: smooth;
}
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #2d2f31;

  background-color: #dcdcdc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  font-weight: 500;
  color: inherit;

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sm-col {
  flex: 0 1 33.33%;
}

.lg-col {
  flex: 0 1 66.66%;
  padding: 0 40px 0 70px;
}

h2 {
  margin: 0 0 15px;

  font-size: 24px;
  font-weight: 600;
}

/* ---/global style--- */
/* ---header--- */
.header{
	position: relative;
}
.header__row {
  display: flex;
  background-color: #fff;
}

.header__sm {
}

.header__image {
  width: 100%;
  height: 100%;
}

.header__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.header__lg {
  margin: 80px 0;
}

.header__name {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 300;
}

.header__name span {
  font-size: 52px;
  font-weight: 600;
}

.header__job {
  display: inline-block;
  padding: 0 20px;

  font-size: 24px;
  background-color: #ccffff;
}
/* ------menu------ */
.header__top{
	position: relative;
	padding: 15px 30px;
	background-color: #2d2f31;
}
.header__menu {
}
.header__list {
	display: flex;
	justify-content: space-between;
  position: relative;
  z-index: 3;
	
	background-color: #2d2f31;
	color: #dcdcdc;
}
.header__link {
	padding: 10px 0;
	font-size: 16px;
  /* color: #252525; */
  transition: all 0.3s ease;
}
.header__link--active {
  color: #ccffff;;
}
.header__list > li:hover .header__link {
  color: #ccffff;
	text-decoration: none;
}

/* ---menu burger---*/
.header__burger {
  display: none;
	right: 0;
  cursor: pointer;
  position: absolute;
	right: 30px;
	top: 30px;
  width: 30px;
  height: 20px;
  z-index: 3;
}

.header__burger::before,
.header__burger::after {
  content: "";
  position: absolute;
  background-color: #474747;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease;
}

.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  content: "";
  position: absolute;
  background-color: #474747;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  transition: all 0.3s ease;
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
  background-color: #ccffff;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
  background-color: #ccffff;
}
.header__burger.active span {
  transform: scale(0);
  background-color: #ccffff;
}
/* ---/menu burger--- */
/* ---/menu--- */

/* ---/header--- */
/* ---main--- */
.main {
}

.main__row {
  display: flex;
  background-color: #fff;
}

.main__sm {
  padding: 80px 40px;

  color: #fff;
  background-color: #2d2f31;
}

.main__sm h2 {
  font-weight: 400;
  color: #ccffff;
}

section {
  margin: 0 0 60px;
}
section:last-child {
  margin: 0 0 0;
}

.contacts {
}

.contacts__item {
  margin: 0 0 15px;
}

.contacts__item:last-child {
  margin: 0 0 0;
}

.contacts__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  color: #dcdcdc;
}

.contacts__link {
  font-size: 16px;
  font-weight: 300;
}

.language {
}

.language li {
  margin: 0 0 5px;
}

.language li:last-child {
  margin: 0 0 0;
}

.main__lg {
  margin: 0 0 60px 0;
}

.skills {
}

.skills li {
  position: relative;

  margin: 0 0 5px;
  padding: 0 0 0 25px;
}

.skills li:last-child {
  margin: 0 0 0;
}

.skills li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 10px;

  background-color: #2d2f31;
}

.experience {
}

.codestyle__pre{
	/* white-space: pre-wrap; */
	white-space: inherit; 
}

.education li {
  margin: 0 0 10px;
}

.education li:last-child {
  margin: 0 0 0;
}

.dates {
  display: inline-block;
  margin: 0 10px 0 0;

  font-weight: 500;
}

/* ---/main--- */
/* ---footer--- */
.footer {
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  background-color: #ccffff;
}

.footer__links a {
  display: inline-block;
}

.footer__link-rss img {
  width: 80px;
}

.footer__link-github span {
  position: relative;
  top: 6px;

  display: inline-block;
  width: 25px;
  height: 25px;
}

.footer__link-github img {
  max-width: 100%;
}

/* ---/footer--- */

/* ---media--- */
@media (max-width: 1000px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 960px;
    padding: 0 15px;
  }
  .skills li::before {
    top: 8px;

    width: 5px;
    height: 5px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 768px;
  }
 /* -----------media-menu---------------   */

 /* запрет скролла контента при закрытом меню */
body.lock {
	overflow: hidden;
}
.header__top{
	background-color: transparent;
	padding: 0 0;
}
.header__menu {
	/* display: none; */
	position: fixed;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	background-color: #c4c4c4;
	padding: 120px 15px 20px 15px;
	transition: all 0.3s ease;

	/*разрешает скролить меню, если оно не полностью влазит на экран  */
	overflow: auto;
}
.header__menu.active {
	top: 0;
}
.header__burger {
	display: block;
}
.header__list {
	display: block;
	max-width: 280px;
	margin: 0 auto;
}
.header__list > li {
	padding: 0 0 20px 0;
}
.header__link {
	font-size: 20px;
	margin: 0;
	font-weight: 500;
}
/* ---------/media-menu--------------------- */

  .lg-col {
    padding: 0 30px 0 60px;
  }

  h2 {
    font-size: 22px;
  }

  .header__lg {
    margin: 60px 0;
  }

  .header__name {
    font-size: 38px;
  }

  .header__name span {
    font-size: 48px;
  }

  .header__job {
    margin: 10px 0 0 0;
    padding: 0 15px;
    font-size: 22px;
  }

  .main__sm {
    padding: 60px 30px;
  }

  .main__sm h2 {
    font-size: 20px;
  }

  section {
    margin: 0 0 40px;
  }

  .contacts__title {
    font-size: 16px;
  }

  .contacts__link {
    font-size: 14px;
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 560px;
  }

  h2 {
    font-size: 20px;
  }

  .main__sm,
  .main__lg {
    padding: 40px;
  }

  .header__row {
    background-color: #ccffff;
  }
  .header__sm {
    background-color: #fff;
  }
  .header__lg {
    margin: 40px 0;
  }

  .header__name {
    font-size: 32px;
  }

  .header__name span {
    font-size: 38px;
  }

  .header__job {
    padding: 0 12px;
    font-size: 18px;
    color: #fff;
    background-color: #2d2f31;
    /* background-color: #dcdcdc; */
  }
  .main__row {
    flex-wrap: wrap;
  }
  .main__sm,
  .main__lg {
    flex: 0 1 100%;
  }

  .main__lg {
    order: 1;
    margin: 0 0 0 0;
  }

  .main__sm {
    order: 2;
    display: flex;
    justify-content: space-between;
  }
  .main__sm section {
    flex: 0 1 35%;
  }

  section {
    margin: 0 0 30px;
  }
  .footer__links {
    padding: 15px 40px;
  }
  .footer__link-rss img {
    width: 60px;
  }

  .footer__link-github span {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 560px) {
  .container {
    max-width: 320px;
  }
	.header__row {
    flex-direction: column-reverse;
}
	.header__name {
		font-size: 26px;
	}
	.header__name span {
    font-size: 30px;
	}
	.main__sm {
		display: block;
	}
	.header__job {
    color: #2d2f31;
    background-color: #dcdcdc;
}

}
/*---/media--- */